* {
    margin: 0;
    padding: 100;
    margin-top: 50px;
    margin-left: 100px;
    
}


body {
    

    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

    color: rgba(7, 123, 134, 0.90);
    background-color: beige;
    margin-bottom: 100px;

}
h1{
color:rgb(189, 85, 0);

font-family:font-family: "Poiret One", serif;
font: weight 800px;;
font-style: normal;

background-color: rgba(125, 255, 212, 0.203);
text-align: center;
}
h2 {
    background-color: rgba(255, 0, 0, 0.095);
}

p{
    background-color: aliceblue;
    padding: 20px;
    margin: 50px 0 0 100px;
    border: 2px dashed blue;
}

Span {margin-left: 0px;
    color: orange;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 24px;
}
.hilight{
    color: black;
    background-color: yellow;
    margin-left: 10px;
}
.first{
    color: rgb(190, 21, 21);
}

img {
width: 200px;
margin-left: 200px;
margin-top: 10px;
}

.firstimg {width: 800;
}

.heading{
    color: blue;
}

